<div class="row">
  <div class="col l4 offset-l4 s12 border-round white z-depth-1-half">
    <h2>Log in</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
    html: {class: 'col s12', :multipart => true} ) do |f| %>

    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>